{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <h1 class="text-center">
        {#        {% if created_bikes %}#}
        All Posted Bikes
    </h1>
    <br>

    {% if bikes %}
        <div class="container mb-5">
            <div class="row mb-5">
                {% for bike in bikes %}
                    {#                <div class="col-lg-4" style="width: 18rem;">#}
                    {#                    <img src="{{ created_bike.image.url }}"#}
                    {#                         class="card-img-top" alt="photo descr">#}
                    {#                </div>#}
                    {#                    <div>#}
                    {#                        {{ created_bike.name }}#}
                    {#                    </div>#}

                    <div class="col-lg-4">
                        <img src="{{ bike.image.url }}" class="card-img-top" alt="photo descr">
                        <div class="box-element product">
                            {#                            <a href="{% url 'edit pet' pet.pk %}" class="btn btn-primary">Edit</a>#}
                            <h5><strong>Shared by: </strong> <a href="{% url 'profile details' bike.user.id %}"
                                                                class="button">{{ bike.user.profile.full_name }}</a>
                            </h5>
                            <h5><strong>Model: </strong>{{ bike.name }}</h5>
                        </div>
                        <div class="box-element product">
                            <h6><strong>Type: </strong>{{ bike.type }}</h6>
                            <h6><strong>Desc: </strong>{{ bike.description }}</h6>
                        </div>

                        {% if user.is_staff %}
                        <div class="box-element product">
                                <a href="{% url 'edit bike' bike.pk %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'delete bike' bike.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                        {% endif %}

                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
